:root {
    --color-primary: #4c2982;
    --color-secondary: #f9d170;
    --color-bg: #f9f7f3;
    --color-text: #252525;
    --color-light: #f3f3f3;
    --color-success: #067973;
    --color-success-bg: #f5fffe;
    --color-error: #b71540;
    --color-error-bg: #fdeff3;
    
  }
  @font-face {
    font-family: 'Inter';
    src: url("../assets/webfont/Inter-Black.woff2?v=3.11") format("woff2"),
         url("../assets/webfont/Inter-Black.woff?v=3.11") format("woff");
  }
  body {
    background-color: var(--color-bg);
  }

  h3 {
    font-family: 'Inter';
    font-size: 2rem;
    font-weight: 900;
    color: var(--color-primary);
    line-height: 1.1;
  }

  label {
    color: var(--color-primary);
    text-transform: uppercase;
    font-weight: 700;
  }
  
  input {
    border: none;
    box-shadow: 0px 0px 5px #f3f3f3;
    height: 30px;
    width: 170px;
    font-size: 16px;
    color: var(--color-text);
  }

  input:hover, input:focus {
    outline: none;
    border: 1px solid var(--color-primary);
  }

  button {
    border: none;
    height: 32px;
    width: 32px;
    background-color: #f9d170;
  }

  button:focus {
    outline: none;
    border: 1px solid var(--color-primary);
  }

  .button-svg {
    height: 22px; 
    width: 20px;
    color: #4c2982;
  }

  .input-wrapper {
    display: flex;
    align-items: center;
  }

  .form {
    display: flex;
    flex-direction: column;
  }

  .response-wrapper {
    justify-content: center;
    align-items: center;
  }

  .success {
    width: 202px;
    border-radius: 2px;
    border: 1px solid var(--color-success);
    background-color: var(--color-success-bg);
    color: var(--color-success);
  }

  .response-inner {
    display: flex;
    padding: 12px;
  }

  .response-text-wrapper {
    display: flex;
    flex-direction: column;
    padding-left: 6px;
  }

  .response-text-main {
    font-weight: bold; 
    font-size: 15px;
    padding-bottom: 3px;
  }

  .response-text-detail {
    font-size: 13px;
  }

  .response-svg {
    height: 20px;
    width: 20px;]
  }

  .error {
    width: 202px;
    border-radius: 2px;
    border: 1px solid var(--color-error);
    background-color: var(--color-error-bg);
    color: var(--color-error);
  }

  .hide {
    display: none;
  }